[submodule "microKanren"]
	path = microKanren
	url = https://github.com/jasonhemann/microKanren.git
[submodule "faster-miniKanren"]
	path = faster-miniKanren
	url = https://github.com/Kakadu/faster-miniKanren.git
